body {
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

form label {
    display: block;
    margin: 10px 0;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
